@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

.topnav {
    background: url(assets/images/bg-sidebar-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sidenav {
    background: url(assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    background-position: top left;
}

input {
    z-index: 10;
    position: relative;
}